body{
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  text-align: center;
  
}
.button {
    font-family: 'Oswald', sans-serif;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 100px;
}
.add{
background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.add:hover {
    background-color: #4CAF50;
    color: white;
}
.remove {
    background-color: white;
    color: black;
    border: 2px solid #f00;
  }
  
.remove:hover {
    background-color: #f00;
    color: white;
  }
.reset {
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 100, 250);
}
  
.reset:hover {
    background-color: rgb(0, 100, 250);
    color: white;
}
.set {
  background-color: white;
  color: black;
  border: 2px solid rgb(53, 54, 55);
}

.set:hover {
  background-color: rgb(53, 54, 55);
  color: white;
}
.interval {
  background-color: white;
  color: black;
  border: 2px solid rgb(53, 54, 55);
}

.interval:hover {
  background-color: rgb(53, 54, 55);
  color: white;
}
.name{
  color: black;
  background-color: white;
  font-size: 32px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 100px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  position: fixed;
  top: 75px;
  left: 10px;
  background-color: rgb(53, 54, 55);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  text-align: left;
}

.dropdown-content label {
  display: block;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
